html{
margin: 10px;
}
	
body {
max-width:1400px;
margin:0 auto;
background-image :url('https://pp.userapi.com/c837522/v837522139/380ab/pjt6d6fo-tI.jpg');
background-attachment: fixed;
background-color: #ADB7BA;
}

nav li {display:inline-block;
padding: 5px;
margin: 4px;
}

nav li a{
	text-decoration: none;
	padding: 5px;
	margin: 1em;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	color: #143567;
}

	#insurances ul li a{
	text-decoration: none;
	padding: 5px;
	margin: 0em;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	color: #6555FA-6555FA;
	
}	

#color {color: blue;
	font-weight: normal;
	text-align: center;
}

header nav ul li a:hover{
	color: #F70C63;
}

p {
	font-size: 1.1em;
	text-indent: 1.1em;
	display: block;
}
	


footer {
	
	text-decoration: none;
	background-color: #B5144F;
	padding-left: 2em;
	padding-bottom: 5em;
}
main {
	margin-top:70px;
	padding: 10px;
}

.conteiner {
	display: block;
	float: right;
	height: 50em;
	margin:0 0 1em 1em;
	padding-right: 20px
}


.form{
	
	background-color:rgba(204, 153, 255, 0.7);
	width: 400px;
	height: 400px;
	text-align: center;
	border-radius: 15px;
}
input[type="text"], input[type="email"],textarea[placeholder="Message"]{
	width: 300px;
	height: 40px;
	font-size: 18px;
	margin-bottom: 25px;
	border-radius: 6px;
}
.logo img{
	width: 120px;
	height: 120px;
	margin:-60px 0 30px 0;
	border:2px solid #CDD490;
	border-radius:50%;
    float: inherit;
}
.button input{
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: #fff;
	background-color: #5254CC;
	border-radius: 15px;
}
.button input:hover{
	transition: all 0.5s;
	background: #7BEDEB;
	color: #111212;
	font-size: 18px;
}

iframe {
	float:right;
	width:375px;
	height:250px;
}
video {
	width: 450px;
	height: 400px;
}
 img {
	float: right;
	width: 450px;
	height: 350px;
	margin:0 0 1em 1em;

}
.icon {
	display: flex;

}

.icon img {

	width: 40px;
	height: 40px;
}
.icon img:hover{
		transition: all 0.5s;
	
}





