html {
	padding: 10px;
}

body {
	
	max-width: 1400px;
	margin: 0 auto;
	background-image: url('http://img0.liveinternet.ru/images/attach/b/1/5186/5186162_2194375_pinktum235.jpg');
	background-attachment: fixed;
	background-color: #ADB7BA;
}


#insurances ul li a {
	text-decoration: none;
	padding: 5px;
	margin: 0em;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	color: #6555FA-6555FA;
}

#color {
	color: blue;
	font-weight: normal;
	text-align: center;
}



p {
	font-size: 1.1em;
	text-indent: 1.1em;
	display: block;
}

footer {
	text-decoration: none;
	background-color: #B5144F;
	
}

footer a {
	text-decoration: none;
}

main {
	margin-top: 70px;
	
}

.conteiner {
	
	float: right;
margin: 0 0 1em 1em;
	
	
}

.form {
	margin-top: 5em;
	background-color: rgba(204, 153, 255, 0.7);
	width: 350px;
	height: 400px;
	text-align: center;
	border-radius: 15px;
}

input[type="text"],
input[type="email"],
textarea[placeholder="Message"] {
	width: 250px;
	height: 40px;
	font-size: 18px;
	margin-bottom: 25px;
	border-radius: 6px;
}

.logo img {
	width: 120px;
	height: 120px;
	margin: -60px 0 30px 0;
	border: 2px solid #CDD490;
	border-radius: 50%;
	float: inherit;
}

.button input {
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: #fff;
	background-color: #5254CC;
	border-radius: 15px;
}

.button input:hover {
	transition: all 0.5s;
	background: #7BEDEB;
	color: #111212;
	font-size: 18px;
}

iframe {
	float: right;
	width: 375px;
	height: 250px;
}

video {
	width: 450px;
	height: 400px;
	background: #000000;
}

img {
	float: right;
	width: 450px;
	height: 350px;
	margin: 0 0 1em 1em;
}

.icon {
	display: flex;
}

.icon img {
	width: 40px;
	height: 40px;
}

.icon img:hover {
	transition: all 0.5s;
}







@media screen and (max-width: 870px){
	.navigation {
			display: flex;
		flex-direction:column;}
}

@media screen and (max-width: 870px){
	
.form{
	display: flex;
	width: 100%;
	background:none;
}	

}

@media screen and (max-width: 870px){
footer small{
	flex-direction:column;
	display: flex;
	width: 100%;
}
	}
	
	@media screen and (max-width: 870px){
		img{
			width: 100%;
		}
	}
	@media screen and (max-width: 870px){
		.conteiner video {
			width: 100%;
		}
	}
	@media screen and (max-width: 870px){
		 input textarea {
			width: 100%;
		}
		iframe{
			width: 100%;
		}
		html{
			padding: 20px;
		}
	}
		
	










nav {
	width: 100%;
	padding-bottom: 30px;
    
    
    position: absolute;
    z-index: 1;
    top: 0;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
     border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 3px 10px #011331;
    -moz-box-shadow: 2px 3px 10px #011331;
    -webkit-box-shadow: 2px 3px 10px #011331;
}
nav {
    position: relative;
    background: #B5144F;
    display: inline-block;
    margin: 0;
    padding: 0;
}
 
nav li {
	
    float: left;
    list-style: none;
    border-right: 1px solid #4a4a4a;
    border-left: 1px solid black;
    margin: 0;
    padding: 0;
}
 
nav li a {
	
    
    z-index: 2;
    position: relative;
    cursor: pointer;
    float: left;
    font-size: 18px;
    font-family: helvetica, arial, sans-serif;
    text-decoration: none;
    padding: 15px 45px;
    color: #fff;
    
}
header nav ul li a:hover {
	color: #A3C0C9;
	text-decoration: none;
}
