#home {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#servise {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#insurance {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#contact {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}
html,body {
	width: 100%;
	height: 100%;
}
body {
	background:
     #DCF7F7 
}

nav {
	overflow: hidden;
	float: right;
}

nav li {
	float:left;
	list-style: none;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: #143567;
	text-shadow: 0 1px 0 white;
}
